{% extends 'newbase.html' %}
{% load custom_markdown %}
	{% block content %}

  

	<h1>{{thisArticle.article_title}}</h1>
  <div id="ArticleContent">
	{% load static from staticfiles %}
  	{% static artimage as artpic %}
  
  	<div id="ArticleImage"><img src="{{artpic}}" alt="{{artpic}}" /></div>
  	{{thisArticle.article_content|custom_markdown}}
  
  </div>

  {% if fullname %}
  {% if userauth == '1' or userauth == '2' %}
    <button id="EditContents" type="button" class="btn btn-primary" >Edit</button>
    <div id = "EditContentDiv" style="display:none">
    <ul>
    <h2>Article Style Tools</h2>
    <hr/>
    <li>*yourtext* : Italics</li>
    <li>**yourtext** : Bold</li>
    <li>***yourtext*** : Bold+Italics</li>
    <li>* yourtext : list</li>
    <li>[linkname](linkurl) : link</li>
    </ul>

    <form id="Edit" action="{% url 'wiki:edit_article_content' thisArticle.id %} " method="post">
    {% csrf_token %}
    <textarea type="text" rows="20" cols="100" name="intro" id="ContentChangeField">{{thisArticle.article_content}}</textarea>
    <input type="submit" value="Save Changes" class="btn btn-success" id="Savings"/>
    </form>

    </div> 

      {% if userauth == '2' %}          
    <form action="{% url 'wiki:article_history' thisArticle.id %} " method="post">  
    {% csrf_token %}
    <input id="ViewIntroductionHistory_Button" type="submit" value="History" class="btn btn-primary" /> 
    </form>

  	
    
  {% endif %} {% else %}

  <div id="ArticleContent">
    <h6>Log in as a registered user to edit</h6>
  <div>

  {% endif %}



  {% if thisHistory %}
  <div id = "Content_History_Div" >
  {% for hist in thisHistory %} 	

  <form action="{% url 'wiki:revert_content' thisArticle.id hist.id %} " method="post">  
  {% csrf_token %}                                    
  <p>
  Last Edited: 
  {{ hist.article_content_history_timestamp }} 
  
  by User:
  {{ hist.article_author }} 
	<input  name="{{hist.id}}" type="submit" value="Revert" class="btn btn-primary" />
	</p>
	</form>                                          		
  
  {% endfor %}	{% endif %} 
  {% endif %} 	

	</div> 


 <script type="text/javascript">
   EditContents = document.getElementById('EditContents');
   ViewIntroductionHistory_Button = document.getElementById('ViewIntroductionHistory_Button');
   
   

   EditContentDiv = document.getElementById('EditContentDiv');
   Content_History_Div = document.getElementById('Content_History_Div');


   ContentChangeField = document.getElementById('ContentChangeField');
 
                  
   EditContents.onclick = function() 
   { 
   var isHidden = EditContentDiv.style.display == 'none';
   EditContentDiv.style.display = isHidden ? 'block' : 'none'   
   }
   ViewIntroductionHistory_Button.onclick = function() 
   { 
   var isHidden = Content_History_Div.style.display == 'none';
   Content_History_Div.style.display = isHidden ? 'block' : 'none'   
   }
   </script>




{% endblock %}
      
