{% extends 'newbase.html' %}
	{% block content %}
	<div class="row marketing">
        <div class="col-lg-6">
		<h2>Categories available</h2>
		{% if categories %}
                  {% for category in categories %}  
          		<h4><a href="{% url 'wiki:category' category.id %}"> {{ category.category_title }}{{ category.id }}</a></h4>
          		{% endfor %}   
                               
                           {% else %} 
                           <h4>No Categories</h4>
                           {% endif %} 
		<button id="Add_Category" type="button">Add Category</button>
        </div>
	</div>

	{% endblock %}



