{% extends 'newbase.html' %}
	{% block content %}

      <h2>Category</h2>
      <button id="Add_Article" type="button">Add Article</button>
      <ul>
               {% if articles %}
                  {% for article in articles %}  
                       <li> 
                           <a href="{% url 'wiki:article' article.id %}"> {{ article.article_title }}{{ article.id }}</a>
                        </li>                                   
                        {% endfor %}   
                               
                           {% else %} 
                           <p>No articles</p>
                           {% endif %} 
       </ul>

{% endblock %}

