{% extends 'newbase.html' %}
	{% block content %}

	<div id="CreateArticle">
		<h2> Create your article </h2>
		<form id="UserArticleData">
			<fieldset class="ArticleData">
			<textarea name="title" id="title" placeholder="Enter your article title here"></textarea>
			<textarea name="intro" id="intro" placeholder="Enter the introduction of your article here"></textarea>
			<textarea name="soil" id="soil" placeholder="Enter the soil information of your article here"></textarea>
			<textarea name="sunlight" id="sunlight" placeholder="Enter the sunlight information of your article here"></textarea>
<textarea name="water" id="water" placeholder="Enter the water information of your article here"></textarea>

			</fieldset>
			<fieldset class="ArticleData">
				<input type="submit" value="submit my article"/>
			</fieldset>
		</form>

		<aside>
			<h3>Styling Tools</h3>
			<ul>
				<li><a href="#">Bold</a></li>
				<li><a href="#">Italics</a></li>
				<li><a href="#">Underline</a></li>
			
			</ul>
		</aside>
	</div>

	{% endblock %}
