h1, h2, h3, a {
	color: black;
}

a {
	font-size: 200%;

}
body
{	
	background-color: white;
}
	
.footer
{
display: block;
font-size: 26px;
text-align: center;
}

#container{
	background-color: white;
	width:70%;
	margin:10% 15% 10% 15%;
	padding:15px;
	float:center;
}


#article_container {
	display: block;
	margin: 3%;



}

#Introduction 
{
	display: block; 
	color: black; 
	margin:2%;
	padding: 2%;
	width: 92%; 
	border: 2px solid black;
}
#Rating 
{
	display: block; 
	color: black; 
	margin:2%;
	padding: 2%;
	width: 92%; 
	border: 2px solid black;
}
#Soil 
{
	display: block; 
	color: black; 
	margin:2%;
	padding: 2%;
	width: 92%; 
	border: 2px solid black;
}
#Sunlight 
{
	display: block; 
	color: black; 
	margin:2%;
	padding: 2%;
	width: 92%; 
	border: 2px solid black;
}
#Watering 
{
	display: block; 
	color: black; 
	margin:2%;
	padding: 2%;
	width: 92%; 
	border: 2px solid black;
}



